<p>The application was is complete and ready for review.</p>

<p><strong>Company Information</strong></p>

Full Legal Business Name:   <%= appCompanyName %><br>
Address 1:                  <%= appCompanyAddress1 %><br>
Address 2:                  <%= appCompanyAddress2 %><br>
City:                       <%= appCompanyCity %><br>
State:                      <%= appCompanyState %><br>
Zip:                        <%= appCompanyZip %><br>

<br>

<p><strong>Primary Contact Information</strong></p>

Contact Name:               <%= appContactName %><br>
Email:                      <%= appContactEmail %><br>
Phone:                      <%= appContactPhone %><br>
Preferred Method:           <%= appContactMethod %><br>

<br>

<p><strong>Personal Guarantor</strong></p>

Name:                       <%= appGuarantorName %><br>
Social Security Number:     <%= appGuarantorSocial %><br>

<br>

<p><strong>Personal Guarantor Contact</strong></p>

Email:                      <%= appGuarantorContactEmail %><br>
Phone:                      <%= appGuarantorContactPhone %><br>
Address 1:                  <%= appGuarantorContactAddress1 %><br>
Address 2:                  <%= appGuarantorContactAddress2 %><br>
City:                       <%= appGuarantorContactCity %><br>
State:                      <%= appGuarantorContactState %><br>
Zip:                        <%= appGuarantorContactZip %><br>